[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

.idea/
.vs/
.vscode/
*.svn/

Thumbs.db
.DS_Store
*.swp
*.swo
*~

Assets/Plugins/
ProjectSettings/ProjectVersion.txt
